body{
    background-color: #efefef;
}
.main {
     margin: 30px;
 }
.backgro {
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.yinyin {
    box-shadow: 10px -1px 5px grey;
}